
<!DOCTYPE html>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
  <body>
    <style>
      body {
          background: url("http://www.royalcliffe.com/wp-content/uploads/2012/12/43014_personal_finance_6757875045_6a6f465379.jpg");
          background-size: 160px 120px;
          background-repeat: no-repeat;
          padding-top: 40px;
          position: relative;
          margin-top: 100px;
      }
    </style>

    <br></br>
    <br></br>
      <content>
        <%= @blog["blog_title"]%>
          </label>
        <br></br>
        <%= @blog["topic"] %>
        <br></br>
        <%= @blog["blog_post"] %>
      </content>



  <form action="blogs/<%= @blog["id"] %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
  </form>
  <a href="/blogs/<%= @blog["id"] %>/edit">edit</a>
 </body>
</html>













